<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuracoes da sala</title>
    <link rel="stylesheet" href="../Public/css/estiloConfiguracoes.css">
</head>
<body>
    <header>
        <img src="../Public/img/logo.svg" alt="" srcset="">
        <p>RPG-HUB</p>
        <h1>Criar sala</h1>
    </header>

    <div class="painel">
        <p>Configuracoes da sala</p>
        <label for="nome">Nome da sala</label><br>
        <input type="text" name="nome" id="nome"><br><br>

        <label>
            <p>Numero de lados do dado</p>
            <select name="dado" id="dado">
                <option value="" selected hidden>Numero de lados</option>
                <option value="D4">4 lados</option>
                <option value="D6">6 lados</option>
                <option value="D8">8 lados</option>
                <option value="D10">10 lados</option>
                <option value="D12">12 lados</option>
                <option value="D20">20 lados</option>
                <option value="D100">100 lados</option>
            </select><br><br>
        </label><br>

        <label>
            <p>Numero de jogadores</p>
            <select name="jogadores" id="jogadores">
                <option value="" selected hidden>Numero de jogadores</option>
                <option value="2 jogadores">2</option>
                <option value="3 jogadores">3</option>
                <option value="4 jogadores">4</option>
                <option value="5 jogadores">5</option>
                <option value="6 jogadores">6</option>
                <option value="7 jogadores">7</option>
                <option value="8 jogadores">8</option>
            </select>
        </label><br><br>

        <a href="../View/telaHost.html">
            <button>Entrar no jogo</button>    
        </a>
    </div>
    
    <script>
        window.onload = () => {
            document.getElementById("nome").selectedIndex = 0;
            document.getElementById("dado").selectedIndex = 0;
            document.getElementById("jogadores").selectedIndex = 0;
        };
    </script>
</body>
</html>