<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala Jogador</title>
    <link rel="stylesheet" href="../Public/css/estiloTelaJogador.css">
</head>
<body>
    <header>
        <img src="../Public/img/logo.svg" alt="Logo RPG-HUB">
        <h1>RPG-HUB</h1>
        <div class="header-info">
            <p>Sala:</p>
            <p>Tamanho do dado:</p>
            <p>Tipo do dado:</p>
            <p>Número de dados:</p>
        </div>
    </header>

    <div class="container">
        <aside class="caixa-jogadores">
        </aside>
    
        
        <main class="area-central">
          <div class="dado">
            <img src="/Public/img/dado.svg" alt="">
          </div>
    
</body>
</html>