<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala Host</title>
    <link rel="stylesheet" href="../Public/css/estiloTelaHost.css">
</head>
<body>
    <header>
        <img src="../Public/img/logo.svg" alt="Logo RPG-HUB">
        <h1>RPG-HUB</h1>
        <div class="header-info">
            <p>Sala:</p>
            <p>Tamanho do dado:</p>
            <p>Tipo do dado:</p>
            <p>Número de dados:</p>
        </div>
        <img src="../Public/img/configuracaoLogo.svg" alt="Configuração">
    </header>

    <div class="container">
        <aside class="caixa-jogadores">
        </aside>
    
        
        <main class="area-central">
          <div class="dado">
            <img src="/Public/img/dado.svg" alt="">
          </div>
    
          
          <div class="codigo-sala">
            <label for="codigo">Código da sala</label>
            <div class="input-codigo">
              <input type="text" id="codigo" readonly>
              <button class="botao-copiar">Copiar</button>
              <button class="botao-compartilhar">🔗</button>
            </div>
          </div>
    
          
          <div class="botoes">
            <button class="botao">Começar jogo</button>
            <button class="botao">Configurações</button>
          </div>
</body>
</html>